<h3>This operation is irreversible. All data associated to it will be deleted.</h3>
<h3>If you are sure to continue, enter password below and confirm.</h3>
<form class="form password-confirmation" method="delete" action="/<%= @table %>/delete/<%= @id %>">
  <label for="password"></label>
  <input type="password" name="password">
  <input class="submit-button" type="submit" name="Confirm">
</form>