<h2>New Service Request</h2>
<form class="form new-element" method="post" action="/request_records">
  <label for="entity_number">Entity</label>
  <input list="entity_number" name="entity_number">
  <datalist id="entity_number">
    <% entities.each do |entity| %>
      <option value=<%= entity.number %>>
        <%= entity.description %>
      </option>
    <% end %>
  </datalist><br>
  <label for="request_type_id">Type</label>
  <select name="request_type_id">
    <% @request_types.each do |request_type| %>
      <option value=<%= request_type.id %>><%= request_type.description %></option>
    <% end %>
  </select><br>
  <label for="description">Description</label>
  <textarea type="text" name="description"></textarea><br>
  <input type="submit" name="submit">
</form>