<footer class="footer">
  <ul class="footer-list">
    <li>
      <div class="footer-item-logo">
        <a class="footer-link" href="/">Maintenance Log</a>
      </div>
    </li>
    <li>
      <div class="footer-producer-info">
        Built by:<br>
        <a class="producer-link" href="https://github.com/fchagasjr" target="_blank">
          <img src="/images/github-mark-white.png">fchagasjr
        </a>
      </div>
    </li>
  </ul>
</footer>
