<footer class="footer">
  <div class="footer-item-logo">
    <a class="footer-link" href="/">
      <img class="image-logo" src="/images/logsbuddy-logo.png" alt="Logs Buddy">
    </a>
  </div>
  <div class="footer-producer-info">
    Built by:
    <a class="producer-link" href="https://github.com/fchagasjr" target="_blank">
      <img src="/images/github-mark-white.png">fchagasjr
    </a>
  </div>
</footer>
