<p class="logged-user">Logged in as <strong><%= current_user.full_name %></strong></p>
<p class="logged-log">Logged on: <strong><%= current_user.log&.name %></strong></p>
<p class="total-entries">Total entries: <%= @request_records&.count %></p>
<%= erb :"shared/log_table" %>
