<nav class="navbar">
  <ul class="navbar-list">
    <li class="navbar-item">
      <a class="navbar-link" href="/">Maintenance Log</a>
    </li>
    <li class="navbar-item">
      <a class="navbar-link" href="/assemblies">Assemblies</a>
    </li>
    <li class="navbar-item">
      <a class="navbar-link" href="/entities">Entities</a>
    </li>
  </ul>
</nav>