<nav class="navbar">
  <ul class="navbar-list">
    <li class="navbar-item">
      <a class="navbar-link" href="/">Maintenance Log</a>
    </li>
    <% if logged_in? %>
      <li class="navbar-item">
        <a class="navbar-link" href="/logout">Logout</a>
      </li>
      <% if current_user.active? %>
        <li class="navbar-item">
          <a class="navbar-link" href="/service_records/new">New Service</a>
        </li>
        <li class="navbar-item">
          <a class="navbar-link" href="/request_records/new">New Request</a>
        </li>
      <% end %>
      <li class="navbar-item">
        <a class="navbar-link" href="/assemblies">Assemblies</a>
      </li>
      <li class="navbar-item">
        <a class="navbar-link" href="/entities">Entities</a>
      </li>
    <% else %>
      <li class="navbar-item">
        <a class="navbar-link" href="/signup">Signup</a>
      </li>
      <li class="navbar-item">
        <a class="navbar-link" href="/login">Login</a>
      </li>
    <% end %>
  </ul>
  <% if current_user&.admin? %>
    <div class="new_entry">
      <a href="/assemblies/new">Add New Assembly</a>
      <a href="/entities/new">Add New Entity</a>
    </div>
  <% end%>
</nav>