<nav class="navbar">
  <div class="navbar-item-logo">
    <a class="navbar-link" href="/">Maintenance Log</a>
  </div>
  <div class="navbar-right">
    <ul class="navbar-list">
      <% if logged_in? %>
        <% if current_key %>
          <li class="navbar-item">
            <a class="navbar-link" href="/entities">Entities</a>
          </li>
          <li class="navbar-item">
            <a class="navbar-link" href="/assemblies">Assemblies</a>
          </li>
          <% if current_key.active? %>
            <li class="navbar-item">
              <a class="navbar-link" href="/request_records/new">New Request</a>
            </li>
          <% end %>
          <% if current_key.admin? %>
            <li class="navbar-item">
              <a class="navbar-link" href="/logs">Log</a>
            </li>
          <% end %>
        <% end %>
        <li class="navbar-item">
          <a class="navbar-link" href="/users/account">Account</a>
        </li>
        <li class="navbar-item">
          <a class="navbar-link" href="/logout">Logout</a>
        </li>
      <% else %>
        <li class="navbar-item">
          <a class="navbar-link" href="/login">Login</a>
        </li>
        <li class="navbar-item">
          <a class="navbar-link" href="/signup">Signup</a>
        </li>
      <% end %>
    </ul>
  </div>
</nav>