<div class="navbar">
  <a class="navbar-link" href="/">Home</a>
  <a class="navbar-link" href="/groups">Groups</a>
  <a class="navbar-link" href="/assemblies">Assemblies</a>
  <a class="navbar-link" href="/entities">Entities</a>
</div>