<h2>Enter new log entry below</h2>
<form method="post" action="/log_entry">
  <label for="description">Description</label>
  <input type="text" name="description"><br>
  <label for="manufacturer">Manufacturer</label>
  <input type="text" name="manufacturer"><br>
  <label for="model">Model</label>
  <input type="text" name="model"><br>
  <input type="submit" name="submit">
</form>