<h2>Enter new assembly below</h2>
<form method="post" action="/group">
  <label for="description">Description</label>
  <input type="text" name="description"><br>
  <input type="submit" name="submit">
</form>
