<% if current_key&.admin? %>
  <div class="action-menu">
    <button class="action-button" onclick="location.href='/assemblies/new';">
      New Assembly
    </button>
  </div>
<% end%>
<table class="table elements-table assemblies-table">
  <tr class="table-header">
    <th class="header-cell">Assembly</th>
    <th class="header-cell">Manufacturer</th>
    <th class="header-cell">Model</th>
  </tr>
  <% assemblies.order(:description, :manufacturer).each do |assembly| %>
  <tr class="table-row" ondblclick="location.href='/assemblies/<%= assembly.id %>';">
    <td class="table-cell">
      <%= assembly.description %>
    </td>
    <td class="table-cell">
      <%= assembly.manufacturer %>
    </td>
    <td class="table-cell">
      <%= assembly.model %>
    </td>
  </tr>
  <% end %>
</table>