<table class="table assemblies-table">
  <tr class="table-header">
    <th>Assembly</th>
    <th>Manufacturer</th>
    <th>Model</th>
  </tr>
  <% @assemblies.each do |assembly| %>
  <tr class="table-row">
    <td><a href="assemblies/<%= assembly.id %>" ><%= assembly.description %></a></td>
    <td><%= assembly.manufacturer %></td>
    <td><%= assembly.model %></td>
  </tr>
  <% end %>
</table>