<h2>New Assembly</h2>
<form class="form new-element" method="post" action="/assembly">
  <label for="description">Description</label>
  <input type="text" name="description"><br>
  <label for="manufacturer">Manufacturer</label>
  <input type="text" name="manufacturer"><br>
  <label for="model">Model</label>
  <input type="text" name="model"><br>
  <input type="submit" name="submit">
</form>