<h3 class="title">New Assembly</h3>
<form class="form new-element" method="post" action="/assemblies">
  <label for="description">Description</label>
  <input type="text" name="description"><br>
  <label for="manufacturer">Manufacturer</label>
  <input type="text" name="manufacturer"><br>
  <label for="model">Model</label>
  <input type="text" name="model"><br>
  <button class="submit-button" type="submit" name="submit">Submit</button>
</form>