<h1>
  <%= @assembly.manufacturer %>
</h1>
<h3>
  Description: <%= @assembly.description %>
</h3>
<h3>
  Model: <%= @assembly.model %>
</h3>

<% @request_records = request_records&.by_assembly(@assembly) %>
<%= erb :"shared/log_table" %>
