body {
  margin: 0.3vw;
}
h1, h2, h3 {
  text-transform: uppercase;
  padding: 0.2vw;
}

/* Navbar */
.navbar {
  background-color: #000080;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  position: static;
  top: 0;
  width: 100%;
}
.navbar-right {
  display: flex;
  flex-direction: column;
}

.navbar-list {
  float: right;
  list-style-type: none;
  text-align: center;
}

.navbar-item {
	border-left: 2px solid #888;
  display: inline-block;
  font-size: 1.8vw;
	padding: 0.2em;
	text-transform: uppercase;
}
.navbar-item:first-child {
  border: none;
}

.navbar-item:hover {
  background-color: #00F;
}

.navbar-link {
  color: #FFF;
  display: block;
  text-decoration: none;
}

.navbar-link:hover {
  color: #FFA500;
}

.navbar-item-logo {
	border: none;
  float: left;
  padding: 0.2em 0.3em;
  font-size: 2.5vw;
  text-transform: uppercase;
}

.navbar-item-logo .navbar-link {
  color: #FF8C00;
  display: block;
  text-decoration: none;
}

.navbar-item-logo .navbar-link:hover {
  color: #FFF;
}

.navbar-admin .navbar-link {
  color: #F00;
}

.navbar-admin .navbar-link:hover {
	color: #F0F;
}

/* Footer */
.footer {
  background-color: #000080;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.footer-item-logo {
  border: none;
  padding: 2vw;
  font-size: 1.5vw;
  text-transform: uppercase;
}

.footer-item-logo .footer-link {
  color: #FF8C00;
  display: block;
  text-decoration: none;
}

.footer-item-logo .footer-link:hover {
  color: #FFF;
}

/* Tables */

.table {
  font-size: 1.65vw;
  width: 100%;
  padding: 0.1vw;
  border: solid;
}

.table th {
  border: 2px solid;
}

.table-row td {
  border: 1px solid;
}

.table-row a {
  text-decoration: none;
}

/* Information Display */
.info {
  border: 1px solid;
  margin: 1vw;
  padding: 1vw;
}

.info h4 {
  background-color: #000080;
  border: 0.5px dashed;
  color: #FFF;
  display: block;
  padding: 1vw;
  text-align: center;
}

/* Forms */

.new-element {
  background-color: lightgray;
}

.new-element label {
  display: block;
  padding: 1em 1em 0.5em;
  text-trans.new-element: uppercase;
}

.new-element input {
  border: 1px solid;
  margin: 0.5em 1em;
  max-width: 80vw;
  min-width: 40vw;
  padding: 0.5em;
}

.new-element select {
  border: 1px solid;
  margin: 0.5em 1em;
  max-width: 80vw;
  padding: 0.5em;
}

.new-element textarea {
  border: 1px solid;
  margin: 0.5em 1em;
  max-width: 90vw;
  min-height: 10vh;
  min-width: 70vw;
  padding: 0.5em;
}

/* Action Button */
.action-button {
  float: right;
}

@media screen and (max-width: 600px) {
  /* For screens smaller than 600px (e.g., mobile devices) */
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navbar-list {
    padding: 0px;
    margin: 1vw;
    float: none;
    list-style-type: none;
    text-align: center;
  }

  .navbar-item {
    font-size: 3vw;
    padding: 0.5vw;
  }

  .navbar-item-logo {
    font-size: 4.3vw;
  }

  .footer-item-logo {
    font-size: 2vw;
  }

  .table {
    font-size: 2.8vw;
  }
}
