/* Navbar */

.navbar-list {
  background-color: #222;
	margin: 0;
  list-style-type: none;
  padding: 0;
  position: static;
  overflow: hidden;
  top: 0;
  width: 100%;
}

.navbar-item {
	border-left: 2px solid #888;
	float: right;
	padding: 1em;
	text-transform: uppercase;
}

.navbar-item:first-child {
	border: none;
  float: left;
  padding-left: 2em;
  padding-right: 2em;
}

.navbar-item:hover {
  background-color: #555;
}

.navbar-link {
  color: #fff;
  display: block;
  text-decoration: none;
}


.navbar-link:hover {
	color: orange;
}

.admin-navbar {
  display: flex;
}


/* Tables */

.new_entry {
  background-color: gray;
  text-align: right;
}

.new_entry a {
  display: block;
  text-decoration: none;
  color: #F00;
}

.table {
  width: 100%;
  padding: 1em;
  border: solid;
}

.table th {
  border: 2px solid;
}

.table-row td {
  border: 1px solid;
}

.table-row a {
  text-decoration: none;
}

/* Forms */

form {
  background-color: lightgray;
}

form label {
  display: block;
  padding: 1em 1em 0.5em;
  text-transform: uppercase;
}

form input {
  border: 1px solid;
  margin: 0.5em 1em;
  min-width: 50vw;
  padding: 0.5em;
}

form select {
  border: 1px solid;
  margin: 0.5em 1em;
  min-width: 50vw;
  padding: 0.5em;
}

form textarea {
  border: 1px solid;
  margin: 0.5em 1em;
  min-height: 10vh;
  min-width: 50vw;
  padding: 0.5em;
}