<h3>Entity list:</h3>
<ul>
  <% @entities.each do |entity| %>
   <li>
     <h4><%= entity.id %></h4>
     <h4><%= entity.description %></h4>
     <ul>
       <li>Assembly: <%= entity.assembly&.description %></li>
       <li>Group: <%= entity.group&.description %></li>
     </ul>
   </li>
  <% end %>
</ul>
<a href="/entities/new">New entity</a>