<h2>New Entity</h2>
<form class="form new-element" method="post" action="/entities">
  <label for="id">Entity ID</label>
  <input type="text" name="id"><br>
  <label for="description">Description</label>
  <input type="text" name="description"><br>
  <label for="assembly_id">Assembly</label>
  <select name="assembly_id">
    <% @assemblies.each do |assembly| %>
      <option value=<%= assembly.id %>>
        <%= assembly.manufacturer %> | <%= assembly.description %> | <%=  assembly.model %></option>
    <% end %>
  </select><br>
  <label for="serial">Serial Number</label>
  <input type="text" name="serial"><br>
  <input type="submit" name="submit">
</form>