<h2 class="title">Login</h2>
<form class="form user-form" method="POST" action="/login">
  <label for="email">Email:</label>
  <input type="email" id="email" name="email" required><br>

  <label for="password">Password:</label>
  <input type="password" id="password" name="password" required><br>

  <input class="submit-button" type="submit" value="Login">
</form>
<a href="/forgot_password">Forgot password?</a>
<br>
<p>No account yet? <a href="/signup">Sign Up</a></p>
