<h3 class="title">Change passwords</h3>
<form class="form user-form" method="POST" action="/users/password">
  <label for="new_password">New Password:</label>
  <input type="password" id="new_password" name="new_password" required><br>

  <label for="new password_confirmation">New Password Confirmation:</label>
  <input type="password" id="new_password_confirmation" name="new_password_confirmation" required><br>

  <label for="password">Actual Password:</label>
  <input type="password" id="password" name="password" required><br>

  <input type="submit" value="Submit">
</form>
