<h3 class="title">Reset password</h3>
<form class="form user-form" method="POST" action="/users/reset_password/<%= user_id %>/<%= token %>">
  <label for="new_password">New Password:</label>
  <input type="password" id="new_password" name="new_password" required><br>

  <label for="new password_confirmation">New Password Confirmation:</label>
  <input type="password" id="new_password_confirmation" name="new_password_confirmation" required><br>

  <button class="submit-button" type="submit" name="submit">Submit</button>
</form>
