<h4>User account</h4>
<div class="action-menu">
  <button class="action-button" onclick="location.href='/users/edit';">
    Edit Info
  </button>
  <button class="action-button" onclick="location.href='/users/password';">
    Change Password
  </button>
</div>
<p><strong>First Name: </strong><%= current_user.first_name %></p>
<p><strong>Last Name: </strong><%= current_user.last_name %></p>
<p><strong>Email: </strong><%= current_user.email %></p>


